name: Waka Readme

on:
  schedule:
    - cron: '30 16 * * *'
  workflow_dispatch:
jobs:
  update-readme:
    name: Wakatime Daily Update
    runs-on: self-hosted
    steps:
      # 更新英文版 README.md
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          COMMIT_USERNAME: "AptS-1548"
          COMMIT_EMAIL: "apts-1548@esaps.net"
          SHOW_UPDATED_DATE: "True"
          SHOW_TOTAL_CODE_TIME: "True"
          SHOW_LINES_OF_CODE: "True"
          SHOW_PROFILE_VIEWS: "False"
          SHOW_DAYS_OF_WEEK: "False"
          SHOW_LANGUAGE: "True"
          SHOW_COMMIT: "True"
          SHOW_PROJECTS: "True"
          SHOW_SHORT_INFO: "False"
          SHOW_EDITORS: "True"
          SHOW_LOC_CHART: "False"
          SHOW_LANGUAGE_PER_REPO: "False"
