name: Waka Readme

on:
  schedule:
    # Runs at 12am IST
    - cron: '30 */6 * * *'
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          COMMIT_USERNAME: "AptS-1548"
          COMMIT_EMAIL: "apts-1548@esaps.net"
          SHOW_UPDATED_DATE: "True"
          SHOW_TOTAL_CODE_TIME: "True"
          SHOW_PROFILE_VIEWS: "False"
          SHOW_LANGUAGE: "True"
          SHOW_COMMIT: "True"
          SHOW_PROJECTS: "True"
          SHOW_SHORT_INFO: "False"
          SHOW_EDITORS: "True"
          SHOW_LANGUAGE_PER_REPO: "True"
